---
layout: default
title: Ausstattung
long_title: Unsere Ausstattung
tagline: Alles, was Du zum Werkeln brauchst
data-small: images/@stock/equipment-lazyload.jpg
data-original: images/@stock/equipment.jpg
section_id: equipment
areas:
  - name: Textil- und Druckwerkstatt
    services:
      available:
        left:
          - name: Transferpresse / Heißpresse
            desc: Lorem ipsum dolor
            link: /transferpresse.html
        right:
          - name: Schneideplotter
            desc: Lorem ipsum dolor
            link: /
      planned:
        left:
          - name: Kappenpresse
            desc: Lorem ipsum dolor
            link: /
        right:
          - name: Tassenpresse
            desc: Lorem ipsum dolor
            link: /
---

<div class='full parallax lazy' style='background-image: url({{ page.data-small }}); color: #fff;'
      data-original="{{ page.data-original }}">
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title=page.long_title tagline=page.tagline color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  {% for area in page.areas %}
    <div class='row'>
      <div class="blub">test</div>
      <div class='medium-6 columns'>
        {% for service1 in area.services_available_left %}
          <div class="blub">test</div>
          <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
              <i class='fa fa-{{service.icon}}'></i>
              <h3>{{service1.name}}</h3>
              <p>{{service1.desc}}</p>
            </div>
            <div class='two spacing'></div>
          </div>
        {% endfor %}
      </div>
      <div class='medium-6 columns'>
        {% for service2 in area.services_available_right %}
          <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
              <i class='fa fa-{{service.icon}}'></i>
              <h3>{{service2.name}}</h3>
              <p>{{service2.desc}}</p>
            </div>
            <div class='two spacing'></div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <div class='spacing'></div>
</div>
