---
layout: default
title: Ausstattung
section_id: about
services_left:
  - icon: check
    title: Holzwerkstatt
    desc: Tischkreissäge, Kappsäge, Bandsäge, Stichsäge, Oberfräse, Exzenterschleifer, Drechselbank, Bohrmaschine, Akkuschrauber
  - icon: check
    title: Fablab / Elektrowerkstatt
    desc: 3D-Drucker, CNC-Fräse, Lasercutter, Lötstationen, Messgeräte, Oszilloskop, Mikrocontroller, PCs
  - icon: check
    title: Nähverkstatt
    desc: Nähmaschine für Anfänger, Computergesteuerte-Nähmaschine, Overlock-Nähmaschine, Bügelstation
services_right:
  - icon: check
    title: Textil- und Druck-Werkstatt
    desc: Schneideplotter, Transferpresse / Heißpresse, Tassenpresse, Kappenpresse
  - icon: check
    title: Kunststoff-Upcycling
    desc: Mehr Details in kürze.
---

<div class='full parallax' style='background-image: url(images/@stock/equipment.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title="Ausstattung" tagline="Alles was man zum werkeln braucht" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
