---
layout: default
title: Ausstattung
long_title: Unsere Ausstattung
tagline: Alles, was Du zum Werkeln brauchst
data-small: images/@stock/equipment-lazyload.jpg
data-original: images/@stock/equipment.jpg
section_id: equipment
areas:
  - name: Textil- und Druckwerkstatt
    services:
      available:
        left:
          - name: Transferpresse / Heißpresse
            desc: Lorem ipsum dolor
            link: 
        right:
          - name: Schneideplotter
            desc: Lorem ipsum dolor
            link:
      planned:
        name: Geplant
        left:
          - name: Kappenpresse
            desc: Lorem ipsum dolor
            link:
        right:
          - name: Tassenpresse
            desc: Lorem ipsum dolor
            link:

  - name: FabLab / Elektrowerkstatt
    services:
      available:
        left:
          - name: 3D-Drucker
            desc: Lorem ipsum dolor
            link:
          - name: Lötstationen
            desc: Lorem ipsum dolor
            link:
        right:
          - name: Lasercutter (bis 06.09.)
            desc: Lorem ipsum dolor
            link:
          - name: Ätzküvette
            desc: Lorem ipsum dolor
            link:
      planned:
        name: Geplant
        left:
          - name: CNC-Fräse
            desc: Lorem ipsum dolor
            link:
        right:
          - name: UV Belichter
            desc: Lorem ipsum dolor
            link:

  - name: Nähwerkstatt
    services:
      available:
        left:
          - name: Nähmaschine
            desc: Lorem ipsum dolor
            link:
          - name: Bügeleisen und -brett
            desc: Lorem ipsum dolor
            link:
        right:
          - name: Overlock-Nähmaschine
            desc: Lorem ipsum dolor
            link:
      planned:
        name: Geplant
        left:
          - name: Coverlock-Nähmaschine
            desc: Lorem ipsum dolor
            link:
          - name: Ledernähmaschine
            desc: Lorem ipsum dolor
            link:
        right:
          - name: Strickmaschine
            desc: Lorem ipsum dolor
            link:

  - name: Siebdruck
    services:
      available:
        left:
          - name: Siebdruckstation
            desc: Lorem ipsum dolor
            link:
      planned:
        name: Geplant
        left:
          - name: Siebdruckkarussell
            desc: Lorem ipsum dolor
            link:

  - name: Kunststoff-Upcycling
    services:
      planned:
        name: Geplant
        left:
          - name:
            desc: Lorem ipsum dolor
            link:

  - name: Kinderwerkstatt
    services:
      planned:
        name: Geplant
        left:
          - name:
            desc: Lorem ipsum dolor
            link:

  - name: Holzwerkstatt
    services:
      planned:
        name: Geplant
        left:
          - name:
            desc: Lorem ipsum dolor
            link:

  - name: Metallwerkstat
    services:
      planned:
        name: Geplant
        left:
          - name:
            desc: Lorem ipsum dolor
            link:
---

<div class='full parallax lazy' style='background-image: url({{ page.data-small }}); color: #fff;'
      data-original="{{ page.data-original }}">
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title=page.long_title tagline=page.tagline color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  {% comment %}
    TODO much duplicate code here, see if planned services and left / right assignment can be refactored
  {% endcomment %}
  {% for area in page.areas %}
    <div class='row'>
      <h2>{{area.name}}</h2>
      <div class='row'>
        <div class='medium-6 columns'>
          {% for service in area.services.available.left %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-check'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
        <div class='medium-6 columns'>
          {% for service in area.services.available.right %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-check'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class='row'>
        <h3 class='medium-6 columns'>{{area.services.planned.name}}</h3>
        <div class='two spacing'></div>
        <div class='medium-6 columns'>
          {% for service in area.services.planned.left %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-times-circle'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
        <div class='medium-6 columns'>
          {% for service in area.services.planned.right %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-times-circle'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='two spacing'></div>
  {% endfor %}
  <div class='spacing'></div>
</div>
