---
layout: default
section_id: home
slides:
  - bg-original: images/@stock/slide-1.jpg
    bg-lazyload: images/@stock/slide-1-lazyload.jpg
    small_title:
      klass: bottom-to-top
      text: Kassels DIY-Werkstatt für alle.
    title:
      klass: bottom-to-top
      text: Hammertime Kassel
    buttons:
      klass: bottom-to-top
      items:
        - text: Was ist Hammertime?
          link_to: about/
  - bg-lazyload: images/@stock/slide-4.jpg
    bg-original: images/@stock/slide-4.jpg
    small_title:
      klass: bottom-to-top
      text: So viele Möglichkeiten.
    title:
      klass: bottom-to-top
      text: Unsere Werkstatt
    buttons:
      klass: bottom-to-top
      items:
        - text: Öffnungszeiten
          link_to: oeffnungszeiten/
  - bg-lazyload: images/@stock/slide-5.jpg
    bg-original: images/@stock/slide-5.jpg
    small_title:
      klass: bottom-to-top
      text: Neues erleben. Neues lernen. Neues können.
    title:
      klass: bottom-to-top
      text: Workshops
    buttons:
      klass: bottom-to-top
      items:
        - text: Termine
          link_to: workshops/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Treffe dich mit Gleichgesinnten.
    title:
      klass: bottom-to-top
      text: Hammertime Meetup
    buttons:
      klass: bottom-to-top
      items:
        - text: Termine
          link_to: meetup/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Auch online austauschen.
    title:
      klass: bottom-to-top
      text: Hammertime Forum
    buttons:
      klass: bottom-to-top
      items:
        - text: Forum besuchen
          link_to: https://forum.hammertimekassel.de/
          target: "_blank"
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Veranstaltungen in kreativer Werkstatt-Atmosphäre.
    title:
      klass: bottom-to-top
      text: Raum mieten
    buttons:
      klass: bottom-to-top
      items:
        - text: Informationen
          link_to: raum-mieten/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Sponsoring, Spenden, Mithilfe
    title:
      klass: bottom-to-top
      text: Hammertime unterstützen
    buttons:
      klass: bottom-to-top
      items:
        - text: Mithelfen
          link_to: helfen/
        - text: Spenden
          link_to: spenden/
        - text: Sponsoring
          link_to: sponsoring/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Wir freuen uns, von dir zu hören!
    title:
      klass: bottom-to-top
      text: Noch Fragen?
    buttons:
      klass: bottom-to-top
      items:
        - text: Kontakt
          link_to: contact/

---

<div class='mod modDefaultSlider'>
  <!-- autostop off, timeout 5000 --->
  <div class='sequence' data-autostop='off' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg lazy' style='background-image: url({{ slide.bg-lazyload }});' data-original="{{ slide.bg-original }}"></div>
           <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text-strong'>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text-strong'>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="spacing"></div>

<div class="full">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2>Sponsoren</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      ... aktuelle Sponsoren auflisten
      ... Sponsor werden (kontakt)
    </p>
  </div>

</div>

<div class="three spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2>Partner</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      ... aktuelle Partner auflisten
      ... Partner werden (kontakt)
    </p>
  </div>
