---
layout: default
section_id: home
slides:
  - bg-original: images/@stock/slide-1.jpg
    bg-lazyload: images/@stock/slide-1-lazyload.jpg
    small_title:
      klass: bottom-to-top
      text: Kassels DIY-Werkstatt für alle.
    title:
      klass: bottom-to-top
      text: Hammertime Kassel
    buttons:
      klass: bottom-to-top
      items:
        - text: Was ist Hammertime?
          link_to: about/
  - bg-lazyload: images/@stock/slide-4.jpg
    bg-original: images/@stock/slide-4.jpg
    small_title:
      klass: bottom-to-top
      text: So viele Möglichkeiten.
    title:
      klass: bottom-to-top
      text: Unsere Werkstatt
    buttons:
      klass: bottom-to-top
      items:
        - text: Öffnungszeiten
          link_to: opening-hours/
  - bg-lazyload: images/@stock/slide-5.jpg
    bg-original: images/@stock/slide-5.jpg
    small_title:
      klass: bottom-to-top
      text: Neues erleben. Neues lernen. Neues können.
    title:
      klass: bottom-to-top
      text: Workshops
    buttons:
      klass: bottom-to-top
      items:
        - text: Termine
          link_to: opening-hours/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Treffe dich mit Gleichgesinnten.
    title:
      klass: bottom-to-top
      text: Hammertime Meetup
    buttons:
      klass: bottom-to-top
      items:
        - text: Termine
          link_to: https://www.meetup.com/de-DE/Hammertime-Meetup/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Auch online austauschen.
    title:
      klass: bottom-to-top
      text: Hammertime Forum
    buttons:
      klass: bottom-to-top
      items:
        - text: Forum besuchen
          link_to: https://forum.hammertimekassel.de/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Veranstaltungen in kreativer Werkstatt-Atmosphäre.
    title:
      klass: bottom-to-top
      text: Raum mieten
    buttons:
      klass: bottom-to-top
      items:
        - text: Verfügbarkeit anfragen
          link_to: contact/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Sponsoring, Spenden, Mithilfe
    title:
      klass: bottom-to-top
      text: Hammertime unterstützen
    buttons:
      klass: bottom-to-top
      items:
        - text: Jetzt unterstützen
          link_to: support/
  - bg-lazyload: images/@stock/slide-9.jpg
    bg-original: images/@stock/slide-9.jpg
    small_title:
      klass: bottom-to-top
      text: Wir freuen uns, von dir zu hören!
    title:
      klass: bottom-to-top
      text: Ich habe noch Fragen
    buttons:
      klass: bottom-to-top
      items:
        - text: Jetzt das Team kontaktieren
          link_to: contact/
works:
  - image: images/@stock/work-woodwork.jpg
    title: Einführungskurs Holzwerkstatt
    #link_to: portfolio-item.html
    klass: wood
  - image: images/@stock/work-3d-print.jpg
    title: Einführungskurs 3D-Druck
    #link_to: portfolio-item.html
    klass: electro
  - image: images/@stock/work-laser-cutting.jpg
    title: Einführungskurs Lasercutter
    #link_to: portfolio-item.html
    klass: electro
  - image: images/@stock/work-cnc-milling.jpg
    title: Einführungskurs CNC-Fräze
    #link_to: portfolio-item.html
    klass: electro


#services:
#  - icon: trophy
#    title: Web Design
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: cogs
#    title: Web Development
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: pagelines
#    title: Branding
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: lock
#    title: Security
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

#milestones:
#  - icon: folder-open
#    from: 0
#    to: 69
#    title: Projects Completed
#  - icon: coffee
#    from: 0
#    to: 726
#    title: Cups of coffee offered
#  - icon: thumbs-up
#    from: 0
#    to: 59
#    title: Happy clients
#  - icon: file-text
#    from: 0
#    to: 21
#    title: Articles Published

---

<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg lazy' style='background-image: url({{ slide.bg-lazyload }});' data-original="{{ slide.bg-original }}"></div>
           <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text-strong'>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text-strong'>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="spacing"></div>

<div class="full">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2>Sponsoren</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      ... aktuelle Sponsoren auflisten
      ... Sponsor werden (kontakt)
    </p>
  </div>

</div>

<div class="three spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2>Partner</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      ... aktuelle Partner auflisten
      ... Partner werden (kontakt)
    </p>
  </div>
