---
layout: default
section_id: home
slides:
  - bg-original: images/@stock/slide-1.jpg
    bg-lazyload: images/@stock/slide-1-lazyload.jpg
    small_title:
      klass: bottom-to-top
      text: Erschaffe, repariere, experimentiere.
    title:
      klass: bottom-to-top
      text: Kassels DIY-Werkstatt für Jedermann
    buttons:
      klass: bottom-to-top
      items:
        - text: Wofür wir einstehen
          link_to: manifesto.html
  - bg-lazyload: images/@stock/slide-4.jpg
    #bg-original: images/@stock/slide-4.jpg
  - bg-lazyload: images/@stock/slide-5.jpg
    #bg-original: images/@stock/slide-5.jpg
  - bg-lazyload: images/@stock/slide-9.jpg
    #bg-original: images/@stock/slide-9.jpg

works:
  - image: images/@stock/work-woodwork.jpg
    title: Einführungskurs Holzwerkstatt
    #link_to: portfolio-item.html
    klass: wood
  - image: images/@stock/work-3d-print.jpg
    title: Einführungskurs 3D-Druck
    #link_to: portfolio-item.html
    klass: electro
  - image: images/@stock/work-laser-cutting.jpg
    title: Einführungskurs Lasercutter
    #link_to: portfolio-item.html
    klass: electro
  - image: images/@stock/work-cnc-milling.jpg
    title: Einführungskurs CNC-Fräze
    #link_to: portfolio-item.html
    klass: electro


#services:
#  - icon: trophy
#    title: Web Design
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: cogs
#    title: Web Development
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: pagelines
#    title: Branding
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
#  - icon: lock
#    title: Security
#    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

#milestones:
#  - icon: folder-open
#    from: 0
#    to: 69
#    title: Projects Completed
#  - icon: coffee
#    from: 0
#    to: 726
#    title: Cups of coffee offered
#  - icon: thumbs-up
#    from: 0
#    to: 59
#    title: Happy clients
#  - icon: file-text
#    from: 0
#    to: 21
#    title: Articles Published

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg lazy' style='background-image: url({{ slide.bg-lazyload }});' data-original="{{ slide.bg-original }}"></div>
           <div class='small-title shadow-text {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text'>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2 class='shadow-text'>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="three spacing"></div>

<div class="row">
  <h2 class='centered-text'>In Kürze in Kassel!</h2>
</div>
<div class='row modCallToAction centered-text'>
  <p>Um die Idee der Werkstatt verwirklichen zu können, benötigen wir nicht nur finanzielle Unterstützung. Auch Sachmittel und fachliches Know-how wären uns eine große Hilfe.</p>
  <p>Möchtest Du uns unterstützen? <a href="/contact.html">Dann melde Dich bei uns!<a/></p> 
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html link="equipment.html" title='Offene Werkstatt' desc='Mache, was du schon immer machen wolltest<br><a href="equipment.html">Mehr erfahren</a>' icon_class='fa icon-tools' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html link="community.html" title='Community' desc='Treffe gleichgesinnte, teile dein Wissen und lerne etwas Neues<br><a href="community.html">Mehr erfahren</a>' icon_class='fa fa-comments-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html link="workshops.html" title='Workshops' desc='Von der Nähmaschine bis zum 3D-Drucker<br><a href="workshops.html">Mehr erfahren</a>' icon_class='fa fa-calendar' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html link="#" title='Repair-Cafe' desc='Wegwerfen war gestern<br>Mehr in Kürze' icon_class='fa fa-bug' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Unsere Workshops" %}
    </div>
  </div>
  <div class="row centered-text">
      <p>Mehr Workshops in Kürze.</p>
  </div>
  <div class="row modCallToAction centered-text">
      <p>Möchtest Du einen Workshop halten? <a href="/contact.html">Dann melde Dich bei uns!</a></p>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Newsletter" %}
    </div>
  </div>
  <div class='row modCallToAction centered-text'>
        <p>Möchtest du auf dem Laufenden bleiben? Dann abonniere unseren Newsletter.</p>
  </div>
  <div class='row centered-text'>
    <p>Wir geben deine Daten nicht weiter. Versprochen.</p>
  </div>
  <div class='row'>
    <script id="n2g_script">
    !function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","//static.newsletter2go.com/utils.js","n2g");
    n2g('create', 'l3sogjg7-3x7aln4j-r39');
    n2g('subscribe:createForm');
    </script>
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/@stock/help.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title="Unterstützen" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text'>
        <b>Hilf uns dabei, die Werkstatt zur Wirklichkeit zu machen!</b>
      </p>
      <div class='buttons-wrapper {{ slide.buttons.klass }}'>
        <div class='row'>
          <div class='large-12 columns'>
            <div class='two spacing'></div>
            <center>
              <a class='button {{ button.klass }}' href='support.html'>Mehr erfahren</a>
              </center>
          </div>
        </div>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>

  </div>
  <div class='spacing'></div>
</div>

{% include sponsors.html %}
