<div class="icon-bar vertical five-up hide-for-touch">
  <a class="item" href="/feed.xml">
    <i class="fa fa-rss"></i>
    <label>RSS abonnieren</label>
  </a>
  <a class="item" href="https://www.facebook.com/hammertimekassel/">
    <i class="fa fa-facebook"></i>
    <label>Facebook</label>
  </a>
  <a class="item" href="https://twitter.com/htks_de">
    <i class="fa fa-twitter"></i>
    <label>Twitter</label>
  </a>
  <a class="item" href="https://www.instagram.com/hammertimekassel/">
    <i class="fa fa-instagram"></i>
    <label>Instagram</label>
  </a>
  <a class="item" href="https://www.meetup.com/de-DE/Hammertime-Meetup/">
    <i class="fa fa-meetup"></i>
    <label>Meetup</label>
  </a>
</div>
