<div class="full">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2><i class='fa fa-info-circle'></i>&nbsp;Coronavirus/COVID-19</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      Aufgrund der aktuellen Entwicklungen <b>bleibt die Werkstatt vorerst geschlossen</b>. Aktuelle
      Neuigkeiten und Ankündigungen erhaltet ihr im <a href="https://forum.hammertimekassel.de/c/news/" target="_blank">Forum</a>.
    </p>
  </div>
  
  <div class="row modCallToAction centered-text">
    <p>
      <b>Wir sind aber nicht untätig, sondern koordinieren und unterstützen die Beschaffung und Produktion der dringend erforderlichen Schutzausrüstung für unsere Krankenhäuser und Arztpraxen.</b> 
      <br>
      Besuche uns auf <a href="https://www.makervsvirus.org" target="_blank">MakerVsVirus.org</a>
     </p>
  </div>
  
</div>

<div class="three spacing"></div>
