<div class="full">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2><i class='fa fa-info-circle'></i>&nbsp;Coronavirus/COVID-19</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      Aufgrund der aktuellen Entwicklungen <b>bleibt die Werkstatt vorerst geschlossen</b>. Aktuelle
      Neuigkeiten und Ankündigungen erhaltet ihr im <a href="https://forum.hammertimekassel.de/c/news/" target="_blank">Forum</a>.
    </p>
  </div>
  
  <div class="row modCallToAction centered-text">
    <p>
      <b>Für Unterstützung in diese schwierige Phase besuche bitte unsere <a href="/spenden/">Spenden</a> und <a href="/sponsoring/">Sponsoring</a> Bereiche oder benutze direkt den unteren PayPal-Button: </b> 
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="TCCKRS9WG6ZVY" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
  
  <div class="row modCallToAction centered-text">
    <p>
      <b>Wir sind aber nicht untätig, sondern koordinieren und unterstützen die Beschaffung und Produktion der dringend erforderlichen Schutzausrüstung für unsere Krankenhäuser und Arztpraxen.</b> 
      <br>
      Besuche uns auf <a href="https://www.makervsvirus.org" target="_blank">MakerVsVirus.org</a>
     </p>
  </div>
  
</div>

<div class="three spacing"></div>
