<div class="full">
  <div class="mod modSectionHeader ">
    <div class="special-title centered-text">
      <h2><i class='fa fa-info-circle'></i>&nbsp;Coronavirus/COVID-19</h2>
    </div>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      <b>Corona-Pandemie:</b> Bitte beachtet unsere <a href="/oeffnungszeiten/">angepassten Öffnungszeiten</a>. Aktuelle
      Neuigkeiten erhaltet ihr im <a href="https://forum.hammertimekassel.de/c/news/" target="_blank">Forum</a>.
    </p>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      Um uns in diesen schwierigen Zeiten zu <b>unterstützen</b> überlegt euch bitte uns mit <a href="/spenden/">Spenden</a> oder <a href="/sponsoring/">Sponsoring</a> zu unterstützen oder benutzt direkt unseren Spende-Button:
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="TCCKRS9WG6ZVY" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <br/>
  </div>

  <div class="row modCallToAction centered-text">
    <p>
      <b>Nebenbei unterstützen wir Krankenhäuser, Arztpraxen, Pflegeeinrichtungen usw. mit dringend benötigter Schutzausrüstung.</b>
      Besuche uns auf <a href="https://www.makervsvirus.org" target="_blank">MakerVsVirus.org</a> und kontaktiere uns für
      Schutzausrüstung oder um uns z.B. mit 3D-Druck zu unterstützen.
     </p>
  </div>

</div>

<div class="three spacing"></div>
