<div class='full parallax' style='background-image: url(images/@stock/sponsors.jpg); color: #fff;'>
  <div class='row'>
    <div class='spacing'></div>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title="Unsere Sponsoren" color="#fff" %}
      <div class='spacing'></div>
      <center>
        <p>
          Wir sind auf der Suche nach Sponsoren.
        </p>
        <div>
          <a class="button white" href='/sponsoring/'>Informationen zu Sponsoring</a>
        </div>
      </center>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for sponsor in site.data.sponsors %}
            <div><a href="#"><img alt="" src="{{sponsor.image}}" /></a></div>
            <div>
              {{sponsor.name}}
            </div>
            <div>
              {{sponsor.description}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
