---
layout: default
title: Blog
section_id: blog
long_title: Blog
tagline: Neues und Interessantes rund um Hammertime
---

<div class='full parallax lazy' style='background-image: url({{site.url}}/images/@stock/blog-lazyload.jpg); color: #fff;' data-original="{{site.url}}/images/@stock/blog.jpg">
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title=page.long_title tagline=page.tagline color="#fff" class="big" %}
    </div>
  </div>
</div>

<div class='full' style='background: #fffff'>
  <div class='row'>
    <div class='large-9 columns'>
      Kleinere Neuigkeiten findest du auch auf <a href="https://www.facebook.com/hammertimekassel/" target="_blank">Facebook</a>, auf <a href="https://twitter.com/htks_de" target="_blank">Twitter</a> oder im <a href="https://forum.hammertimekassel.de/c/news" target="_blank">Forum</a>.
    </div>
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-9 columns'>

      {% for post in paginator.posts %}

        {% comment %}
        Workaround for date localization
        TODO duplicate code, see post.html
        {% endcomment %}
        {% assign months = "Januar|Februar|März|April|Mai|Juni|Juli|August|September|Oktober|November|Dezember" | split: "|" %}
        {% assign m = post.date | date: "%-m" | minus: 1 %}
        {% assign day = post.date | date: "%d" %}
        {% assign month = months[m] %}
        {% assign year = post.date | date: "%Y" %}

        <div class='big mod modBlogPost'>
          <div class='content'>
            <p class='info'>
              <span class="date">{{ day }}.{{ month }} {{ year }} von {{post.author}}</span>
            </p>
            <h3><a href="{{post.url}}">{{post.title}}</a></h3>
            <p>{{post.excerpt}}</p>
            <div class='spacing'></div>
            <a class="button small" href="{{post.url}}">Mehr lesen</a>
          </div>
        </div>
      {% endfor %}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <!--<a href="/blog" class="button secondary older">Ältere Beiträge</a>-->
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="button secondary older">Ältere Beiträge</a>
            {% endif %}
          {% else %}
            <!--<span class="button secondary older">Ältere Beiträge</span>-->
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="button secondary newer">Neuere Beiträge</a>
            {% else %}
              <!--<a href="/blog/page{{ paginator.previous_page }}" class="button secondary newer">Neuere Beiträge2</a>-->
            {% endif %}
          {% else %}
            <!--<span class="button secondary newer">Neuere Beiträge1</span>-->
          {% endif %}
        </div>
      {% endif %}

    </div>

    <div style="display: inline-block">
      {% include blog-sidebar.html %}
    </div>

  </div>

  <div class='row'>

    <div class='large-9 columns'>

      {% include blog-sidebar-portrait.html %}

      <div class='four spacing'></div>

    </div>

  </div>

</div>
