---
layout: blog
title: Blog
section_id: blog
long_title: Blog
tagline: Neues und Interessantes rund um Hammertime
#data-small: images/@stock/workshops-lazyload.jpg #TODO
#data-original: images/@stock/workshops.jpg # TODO
---

{% for post in paginator.posts %}

  {% comment %}
  Workaround for date localization
  {% endcomment %}
  {% assign months = "Januar|Februar|März|April|Mai|Juni|Juli|August|September|Oktober|November|Dezember" | split: "|" %}
  {% assign m = post.date | date: "%-m" | minus: 1 %}
  {% assign day = post.date | date: "%d" %}
  {% assign month = months[m] %}
  {% assign year = post.date | date: "%Y" %}

  <div class='big mod modBlogPost'>
    <div class='images'>
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
      {% endfor %}
    </div>
    <div class='content'>
      <p class='info'>
        <span class="date">{{ day }}.{{ month }} {{ year }} von {{post.author}}</span>
      </p>
      <h3><a href="{{post.url}}">{{post.title}}</a></h3>
      <p>{{post.excerpt}}</p>
      <div class='spacing'></div>
      <a class="button small" href="{{post.url}}">Mehr lesen</a>
    </div>
  </div>
{% endfor %}
