---
layout: default
title: Ausstattung
long_title: Unsere Ausstattung
tagline: Alles, was Du zum Werkeln brauchst
data-small: /images/@stock/equipment-lazyload.jpg
data-original: /images/@stock/equipment.jpg
section_id: equipment
---

{% comment %}
  TODO sort areas alphabetically (for the target language)
  TODO sort equipment alphabetically (for the target language)
  TODO consider custom sorting for equipment
  TODO show only two equipments per row
  TODO color code for status
  TODO status for areas
{% endcomment %}

{% assign area_data = site.data.areas %}
{% assign area_list = site.data.areas.info.area_list | sort: 'name' %}

<div class='full parallax lazy' style='background-image: url({{ page.data-small }}); color: #fff;'
      data-original="{{ page.data-original }}">
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns shadow-text'>
      {% include section-header.html title=page.long_title tagline=page.tagline color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>

<div class='full'>

  {% for area in area_list %}

    {% assign single_area_data = area_data[area.area_id] %}

    <div class='row'>

      <h2>{{area.name}}</h2>

      <p class="subtitle">
        {{single_area_data.info.short_description}}
      </p>

      {% if single_area_data.info.status == site.data.area_status.planned %}

        <div class='medium-6 columns'>
          <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
              <i class='fa fa-calendar' data-tooltip aria-haspopup="true" class="has-tip" title="{{area_status_text}}"></i>
              <h3>In Planung</h3>
              <p>Dieser Teil der Werkstatt befindet sich noch in Planung. Gern kannst du uns dabei unterstützen!</p>
            </div>
          </div>
        </div>

      {% endif %}

      <div class='row'>
        {% for equipment_item in single_area_data.equipment %}

          {% assign equipment_id = equipment_item[0] %}
          {% assign equipment = equipment_item[1] %}

          {% if equipment.info.status == site.data.equipment_status.okay %}
            {% assign status_icon = "check" %}
            {% assign status_caption = "Gerät funktioniert" %}
            {% assign status_text = "Alles in Ordnung, du kannst das Gerät benutzen!" %}
            {% assign status_class = "success" %}

          {% elsif equipment.info.status == site.data.equipment_status.limited %}
            {% assign status_icon = "exclamation-circle" %}
            {% assign status_caption = "Eingeschränkt nutzbar" %}
            {% assign status_text = "Das Gerät ist eingeschränkt nutzbar. Bitte beachte die Hinweise oder kontaktiere uns." %}
            {% assign status_class = "warning" %}

          {% elsif equipment.info.status == site.data.equipment_status.broken %}
            {% assign status_icon = "times-circle" %}
            {% assign status_caption = "Defekt" %}
            {% assign status_text = "Sorry, aber das Gerät ist defekt und kann aktuell nicht benutzt werden." %}
            {% assign status_class = "alert" %}

          {% elsif equipment.info.status == site.data.equipment_status.repairing %}
            {% assign status_icon = "wrench" %}
            {% assign status_caption = "In Reparatur" %}
            {% assign status_text = "Sorry, aber das Gerät wird gerade repariert." %}
            {% assign status_class = "alert" %}

          {% elsif equipment.info.status == site.data.equipment_status.planned %}
            {% assign status_icon = "calendar" %}
            {% assign status_caption = "Anschaffung geplant" %}
            {% assign status_text = "Sorry, aber das Gerät ist noch nicht verfügbar." %}
            {% assign status_class = "alert" %}

          {% endif %}

          {% capture complete_status_text %}{{status_text}}{% if equipment.info.additional_status_text != blank %}&nbsp;{{equipment.info.additional_status_text}}{% endif %}{% endcapture %}

          <div class='medium-6 columns'>
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-{{status_icon}}' data-tooltip aria-haspopup="true" class="has-tip" title="{{complete_status_text}}"></i>

                {% capture profile_page_path %}/equipment/{{equipment_id}}.html{% endcapture %}

                <h3>{% unless equipment.info.disable_profile_page == true %}<a href="{{profile_page_path}}">{% endunless %}{{equipment.info.type}} {{equipment.info.producer}} {{equipment.info.model}}{% unless equipmentinfo.disable_profile_page == true %}</a>{% endunless %}</h3>
                <p>{% if equipment.info.status == "planned" %}<b>Geplant, noch nicht verfügbar – </b>{% endif %}{{equipment.info.short_description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% comment %}
    TODO much duplicate code here, see if planned services and left / right assignment can be refactored
  {% endcomment %}
  {% comment %}
  {% for area in areas %}
    <div class='row'>
      <h2>{{area.info.name}}</h2>
      <div class='row'>
        <div class='medium-6 columns'>
          {% for service in area.services.available.left %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-check'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
        <div class='medium-6 columns'>
          {% for service in area.services.available.right %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-check'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class='row'>
        <h3 class='medium-6 columns'>{{area.services.planned.name}}</h3>
        <div class='two spacing'></div>
        <div class='medium-6 columns'>
          {% for service in area.services.planned.left %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-times-circle'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
        <div class='medium-6 columns'>
          {% for service in area.services.planned.right %}
            <div class='fadein mod modIconText' data-delay='{{ 100 | times:forloop.index0 }}'>
              <div class='icon-text-simple'>
                <i class='fa fa-times-circle'></i>
                {% assign servicelink = service.link == "" ||= false %}
                <h3>{% if servicelink %}<a href="{{service.link}}">{% endif %}{{service.name}}{% if servicelink %}</a>{% endif %}</h3>
                <!--<p>{{service.desc}}</p>-->
              </div>
              <div class='two spacing'></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='two spacing'></div>
  {% endfor %}
  <div class='spacing'></div>
  {% endcomment %}
</div>
