---
layout: blog
section_id: blog
long_title: Blog
tagline: Neues und Interessantes rund um Hammertime
---

{% comment %}
Workaround for date localization
TODO duplicate code, see blog/index.html
{% endcomment %}
{% assign months = "Januar|Februar|März|April|Mai|Juni|Juli|August|September|Oktober|November|Dezember" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}


{% comment %}
TODO Social buttons
{% endcomment %}

{% comment %}
TODO https://disqus.com/ sections
{% endcomment %}

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBlogPost big'>
        <div class='images'>
          {% for image in page.images %}
            <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
          {% endfor %}
        </div>
        <div class='content'>
          <p class='info'>
            <span class="date">{{ day }}.{{ month }} {{ year }} von {{page.author}}</span>
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          {{ content }}
        </div>
      </div>
      <div class="PageNavigation">
        {% if page.previous.url %}
          <a class="prev button left" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next button right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
      <div class='one spacing'></div>

      {% include blog-post-subbar.html %}

      <div class='four spacing'></div>

    </div>

  </div>
</div>
